html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
}

#map-canvas {
    height:100%
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.self-portrait{
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.navbar .navbar-collapse {
    text-align: center;
  }

.carousel-image{
    
    max-width: 624px;
    margin: 0 auto; /* Added */
    margin-left: auto;
    margin-right: auto; 
}

.carousel-item {

    float: none;
  }

.nav-item:hover{
    color:white !important;
    background-color: black;
}

.nav-link:hover{
    color:white !important;
    background-color: #212529;
}

hr {
    width: 100%;
  }

